.header-container {
    display: flex;
    align-items: center;
    padding: 24px 15px 25px;
    border-bottom: 1px solid #ECECEC
    }
.link {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: var(--transition-hover-focus);
    color: var(--primary-text-color);
}

&:hover,
&:focus {
    color: var(--accent-color);
}
&.current::after {
    content: "";
    position: absolute;
    top: 276%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
&.current {
    color: var(--accent-color);
    position: relative;
}


.header-item:not(:first-child) {
    margin-left: 50px;
}

.list-header {
    display: flex;
}

.logo-part {
    color: var(--accent-color);
}

.logo {
    color: var(--black-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 94px;
    display: block;
}









.contact-wrap {
    margin-left: auto;
}

.phone-footer {
    margin-left: 50px;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
}

.envelope {
    margin-right: 10px;
    fill: #757575;
    transition: var(--transition-hover-focus);
}

.smartphone {
    fill: #757575;
    margin-right: 10px;
    transition: var(--transition-hover-focus);
}

.mail-footer:hover .envelope,
.mail-footer:focus .envelope {
    fill: var(--accent-color);
}

.phone-footer:hover .smartphone,
.phone-footer:focus .smartphone {
    fill: var(--accent-color);
}

.mail-footer {
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
}